/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
td span:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

td i:hover {
  text-decoration: none;
}
